//- Typekit
script(src="https://use.typekit.net/roi1emx.js")
<script>//try{Typekit.load({ async: true });}catch(e){}</script>
<script>try{Typekit.load();}catch(e){}</script>

//- Google Fonts - Archivo Narrow substitute for Knockout
//- LOADING 400 AND 700 RIGHT NOW
//- <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700" rel="stylesheet"> 

<!-- “Entypo pictograms by Daniel Bruce — www.entypo.com” -->
<!-- Font Awesome icons by Dave Gandy -->

//- Typekit async
//- <script>(function(d) {var config = {kitId: 'roi1emx',scriptTimeout: 3000,async: true},h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)})(document);</script>
//- hide text until loaded, like render blocking but just invisible, from http://blog.typekit.com/2010/10/29/font-events-controlling-the-fout/
style.
	.wf-loading .tagline,
	.wf-loading .site-toggle__link,
	.wf-loading .title,
	.wf-loading .section-title {
		/* Hide the blog title and post titles while web fonts are loading */
		visibility: hidden;
	}