.social-icons.container
	//- .social-icon-link#share-facebook: .icon-facebook.social-icon.nav-icon(aria-hidden="true")
	.social-icon-link#share-facebook(title="facebook")
		svg.svg-social-icon: use(xlink:href="/Images/icons/icons.svg#icon-facebook")
	//- a.social-icon-link(href="https://twitter.com/share?url=#PageURL&via=smithsonianfolk&text=<?= $page->title() ?>" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=225,width=500');return false;")
		.icon-twitter.social-icon.nav-icon(aria-hidden="true")
	a.social-icon-link(href="https://twitter.com/share?url=#PageURL&via=smithsonianfolk&text=#PageTitle" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=225,width=500');return false;")
		svg.svg-social-icon: use(xlink:href="/Images/icons/icons.svg#icon-twitter")
	a.social-icon-link(href="https://plus.google.com/share?url=#PageURL" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;")
		svg.svg-social-icon: use(xlink:href="/Images/icons/icons.svg#icon-gplus")
		//- .icon-gplus.social-icon.nav-icon(aria-hidden="true")
	a.social-icon-link(href="https://www.pinterest.com/pin/create/button?url=#PageURL" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=800');return false;")
		svg.svg-social-icon: use(xlink:href="/Images/icons/icons.svg#icon-pinterest")
		//- .icon-pinterest.social-icon.nav-icon(aria-hidden="true")
	a.social-icon-link(href="https://www.tumblr.com/widgets/share/tool?url=#PageURL" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=540');return false;")
		svg.svg-social-icon: use(xlink:href="/Images/icons/icons.svg#icon-tumblr")
		//- .icon-tumblr.social-icon.nav-icon(aria-hidden="true")
	a.social-icon-link(href="mailto:?Subject=<?= str::encode($page->title())?>&body=%0D%0A%0D%0Afrom%20<?= str::encode($page->url()) ?>")
		svg.svg-social-icon: use(xlink:href="/Images/icons/icons.svg#icon-mail")
		//- .icon-mail.social-icon.nav-icon(aria-hidden="true")