<!DOCTYPE html>
<html lang="en")>
head
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	meta(robots="none")
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Smithsonian Center for Folklife and Cultural Heritage | <?php echo $page->title()->html() ?></title>
	
	//- Typekit async
	<script>(function(d) {var config = {kitId: 'roi1emx',scriptTimeout: 3000,async: true},h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)})(document);</script>
	//- hide text until loaded, like render blocking but just invisible, from http://blog.typekit.com/2010/10/29/font-events-controlling-the-fout/
	style.
		.wf-loading .tagline,
		.wf-loading .site-toggle__link,
		.wf-loading .title,
		.wf-loading .section-title {
			/* Hide the blog title and post titles while web fonts are loading */
			visibility: hidden;
		}

	//- <script src="https://use.typekit.net/roi1emx.js"></script>
	//- <script>try{Typekit.load({ async: true });}catch(e){}</script>

	//- Google Fonts - Archivo Narrow substitute for Knockout
	//- LOADING 400 AND 700 RIGHT NOW
	//- <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700" rel="stylesheet"> 

	<!-- “Entypo pictograms by Daniel Bruce — www.entypo.com” -->
	<!-- Font Awesome icons by Dave Gandy -->

	//- <link href="assets/css/bootstrap.css" rel="stylesheet"> // moved to @import in scss file
	


	//- never cache css in development because echoing php time stamp
	//- <link href="assets/css/folklife.css?v=<?= time() ?>" rel="stylesheet">
	//- from https://github.com/filamentgroup/loadCSS

	//- critical css
	<style>
	/*- include './assets/css/critical.css'*/
	</style>
	//- async rest of css
	//- <link rel="preload" href="assets/css/folklife.css?v=<?= time() ?>" as="style" onload="this.rel='stylesheet'">
	//- no js fallback for rest of css
	//- <noscript><link href="assets/css/folklife.css?v=<?= time() ?>" rel="stylesheet"></noscript>
	
	//- syntax highlighting, from highlightjs.org
	//- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/solarized-dark.min.css">
	//- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/monokai-sublime.min.css">
	//- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/default.min.css">
	// highlightjs.org for code syntax highlighting
	<link href="/assets/css/highlight/styles/monokai-sublime.css" type="text/css" rel="stylesheet">
	//- <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
	<script src="/assets/js/highlight.pack.js"></script>

	//- out for firefox and safri, debug later
	<link href="/assets/css/styleguide.css?v=<?= time() ?>" type="text/css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
<body class="site--folklife <?= str::lower($page->title()) ?>-page">
.navbar__site-toggle
	.container
		.tagline Championing Culture for, by, and of the People
		-if (c::get('isDev')):
			a.site-toggle__link.site-toggle__link--folklife.active(href="http://localhost:3003") Folklife
		- else:
			a.site-toggle__link.site-toggle__link--folkways(href="http://folklife.lukehatfield.com") Folkways
		-endif
		-if (c::get('isDev')):
			a.site-toggle__link.site-toggle__link--festival(href="http://localhost:3009") Folkways
		- else:
			a.site-toggle__link.site-toggle__link--folkways(href="http://folkways.lukehatfield.com") Folkways
		-endif
		-if (c::get('isDev')):
			a.site-toggle__link.site-toggle__link--folklife(href="http://localhost:3005") Festival
		- else:
			a.site-toggle__link.site-toggle__link--festival(href="http://on.festival.lukehatfield.com") Festival
		-endif
//- nav.navbar.navbar-fixed-top
.navbar-outside
nav.navbar
	.navbar-header
		.navbar-header__inner
			.navbar-brand(href="#")
				img.sunsplash(src="assets/images/logo/sunsplash.png")
				a.logo-mask(href="/")
					.logo__copy
						img.logo--folklife(src="assets/images/logo/folklife.png")
						img.logo--center(src="assets/images/logo/center.png")
			.nav-icons											
				.icon-menu.nav-icon.nav-icon--main#menu-icon(aria-hidden="true")

	.header-nav#header-nav
		.container
			ul.header-nav__row.row
				li.header-nav__main-item.col-sm-2 
					a.header-nav__title(href="/colors") Colors
					ul.header-nav__list
						li.header-nav__sub-item: a(href="/colors#folklife") Folklife
						li.header-nav__sub-item: a(href="/colors#festival") Festival
						li.header-nav__sub-item: a(href="/colors#folkways") Folkways
						li.header-nav__sub-item: a(href="/colors#shades-of-black") Shades of Black
				li.header-nav__main-item.col-sm-2 
					a.header-nav__title(href="/typography") Typography
					ul.header-nav__list
						li.header-nav__sub-item: a(href="/typography#serif") Serif
						li.header-nav__sub-item: a(href="/typography#sans") Sans
						li.header-nav__sub-item: a(href="/typography#slab-serif") Slab Serif
				li.header-nav__main-item.col-sm-2 
					a.header-nav__title(href="/cards") Cards
					ul.header-nav__list
						li.header-nav__sub-item Video Standard
						li.header-nav__sub-item Video Horizontal
						li.header-nav__sub-item Audio
						li.header-nav__sub-item Card Vertical
						li.header-nav__sub-item Card Horizontal				
				li.header-nav__main-item.col-sm-2 
					a.header-nav__title(href="/specials") Specials
					ul.header-nav__list
						li.header-nav__sub-item: a(href="/specials#email-signup") Email Signup
						li.header-nav__sub-item: a(href="/specials#become-a-member") Become a Member
						li.header-nav__sub-item: a(href="/specials#support") Support
				li.header-nav__main-item.col-sm-2 
					a.header-nav__title(href="/structure") Structure
					ul.header-nav__list
						li.header-nav__sub-item: a(href="/framework#sections") Sections
						li.header-nav__sub-item: a(href="/framework#half-sections") Half Sections
						li.header-nav__sub-item: a(href="/framework#margins") Margins
						li.header-nav__sub-item: a(href="/framework#padding") Padding
				li.header-nav__main-item.col-sm-2 
					a.header-nav__title(href="/libraries") Libraries
					ul.header-nav__list
						li.header-nav__sub-item: a(href="/libraries#bootstrap") Bootstrap
						li.header-nav__sub-item: a(href="/libraries#sass") SASS

	<!-- Collect the nav links, forms, and other content for toggling -->
	.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")